workflows/Y73BG089WCu3FKkS.json
{
  "active": true,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "执行任务1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行任务1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-08T11:18:09.162Z",
  "id": "Y73BG089WCu3FKkS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "easyscrape任务执行alibaba爬取官网和地址",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32160,
        48
      ],
      "id": "cacbe1fd-e59e-4a08-bb1c-98d0ab0a4167",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU",
          "mode": "list",
          "cachedResultName": "香水竞对调查",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "D2:D"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -31968,
        112
      ],
      "id": "ab0750c7-7bc1-402c-a80a-7607bffe0941",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bMEaGWJjtLitlv61",
          "name": "Google Sheets account egingin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91c230e3-30d9-4f26-892a-da55d6182307",
              "name": "url",
              "value": "={{ $json['alibaba url'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -30656,
        48
      ],
      "id": "ad3ad3ac-d385-42dd-af90-60bd3fcbae20",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "alibaba url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -31088,
        48
      ],
      "id": "ee782b3e-49d4-4020-a168-1359b9fbed1c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8074/invokeTask",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "3"
            },
            {
              "name": "params",
              "value": "={{ JSON.stringify({ urlList_0: (Array.isArray($json.url) ? $json.url : JSON.parse($json.url)).join('\\n') }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30432,
        48
      ],
      "name": "HTTP Request",
      "id": "16562996-6520-4e31-ad8e-6a304fab0cca"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU",
          "mode": "list",
          "cachedResultName": "香水竞对调查",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "D2:D"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32160,
        272
      ],
      "id": "37ef4972-d3d9-4473-9b05-ba5b8645b6d9",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bMEaGWJjtLitlv61",
          "name": "Google Sheets account egingin"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "col_1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -31936,
        272
      ],
      "id": "77ba784c-d6ce-4309-b619-8ccef6494f69",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "928cd9ca-fcc4-4e51-a7b9-efa9253894a4",
              "name": "ids",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "83f61c74-70c8-43c8-9fbc-b3b40f9053aa",
              "name": "time",
              "value": "={{ $now.toFormat('yyyy_MM_dd_HH_mm_ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -30208,
        48
      ],
      "id": "ca060e7a-cbef-44b5-aecc-7b36543139ae",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "command": "=cd \"/Applications/EasySpider_MacOS\" && ./easyspider_executestage \\\n  --ids \"[{{ $json.ids }}]\" \\\n  --user_data 0 \\\n  --server_address \"http://localhost:8074\" \\\n  --config_folder \"/Users/nati/Library/Application Support/EasySpider/\" \\\n  --headless 1 \\\n  --keyboard 0 \\\n  --read_type local \\\n  --saved_file_name \"{{ $json.time }}\" \\\n  --config_file_name config.json",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -29984,
        48
      ],
      "id": "1f088be2-d54e-4d08-aa42-f00dfce265ee",
      "name": "执行任务1",
      "executeOnce": false,
      "credentials": {
        "sshPassword": {
          "id": "E3j7D3Khy2cdeBJJ",
          "name": "SSH Password account nati"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/Applications/EasySpider_MacOS/Data/Task_{{ $('Edit Fields3').item.json.ids }}/{{ $('Edit Fields3').item.json.time }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -29760,
        48
      ],
      "id": "8d145205-22dd-4321-8877-0ab165ecfe2e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -29536,
        48
      ],
      "id": "9685175f-1f09-40d9-96a2-1d5ca8820907",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU",
          "mode": "list",
          "cachedResultName": "香水竞对调查",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "公司网址": "={{ $json['﻿公司网址'] }}",
            "公司地址": "={{ $json['公司地址'] }}",
            "alibaba url": "={{ $json['alibaba url'] }}"
          },
          "matchingColumns": [
            "alibaba url"
          ],
          "schema": [
            {
              "id": "相关企业",
              "displayName": "相关企业",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "主营业务",
              "displayName": "主营业务",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "所在地",
              "displayName": "所在地",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alibaba url",
              "displayName": "alibaba url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "交易历史 (近6个月)",
              "displayName": "交易历史 (近6个月)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "主营市场",
              "displayName": "主营市场",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "主图/视频质量",
              "displayName": "主图/视频质量",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "价格区间 (FOB)",
              "displayName": "价格区间 (FOB)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "最小起订量 (MOQ)",
              "displayName": "最小起订量 (MOQ)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "核心资质/证书",
              "displayName": "核心资质/证书",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "核心优势总结",
              "displayName": "核心优势总结",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "明显劣势总结",
              "displayName": "明显劣势总结",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "公司网址",
              "displayName": "公司网址",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "网站评分",
              "displayName": "网站评分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "公司地址",
              "displayName": "公司地址",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -28688,
        48
      ],
      "id": "8ab4ea80-2130-4a06-bd15-5ad1aee1aedd",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bMEaGWJjtLitlv61",
          "name": "Google Sheets account egingin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762333d3-f5ed-4264-90d2-76cdb8ad3afd",
              "name": "=﻿公司网址",
              "value": "={{ $json['﻿公司网址'] }}",
              "type": "string"
            },
            {
              "id": "3bf241d2-7cb6-48c9-8b39-b2dcc8656a2c",
              "name": "公司地址",
              "value": "={{ $json['公司地址'] }}",
              "type": "string"
            },
            {
              "id": "1bfb1384-bff9-44cc-bad6-e0010c7afe4f",
              "name": "alibaba url",
              "value": "={{ $json['alibaba url'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -29120,
        48
      ],
      "id": "24fc381d-8dbc-42b4-9aeb-f9e760eea4c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU",
          "mode": "list",
          "cachedResultName": "香水竞对调查",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -31904,
        -112
      ],
      "id": "ab50a4e3-a977-4bd6-a39e-dbf2e8e6258b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "IqFCGqXW6szmafFX",
          "name": "Google Sheets Trigger account egingin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38ae0f6-efe9-4890-905c-7a8214f9ac6d",
              "leftValue": "={{ $json[\"alibaba url\"] }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -31504,
        112
      ],
      "id": "171f7a10-39c2-4523-93f5-675ec76cbfea",
      "name": "Filter1"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -31264,
        128
      ],
      "id": "d27873c8-ae87-4fc6-8451-6276593a3872",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38ae0f6-efe9-4890-905c-7a8214f9ac6d",
              "leftValue": "={{ $json[\"alibaba url\"] }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -31648,
        -48
      ],
      "id": "7190d76e-6e67-450d-93b6-d1388ef66711",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU",
      "sheetId": 0,
      "lastRevision": 174,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1-yktXROkXA37iKHn3kwa-Gh8VMTGoiU_2p_9p8LtoBU&revision=174&exportFormat=xlsx"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-12T06:07:03.000Z",
  "versionId": "f2a413cc-d7b1-4357-b17d-d27b135d09f6"
}