workflows/Y73BG089WCu3FKkS.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "执行任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行任务": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-08T11:18:09.162Z",
  "id": "Y73BG089WCu3FKkS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "easyscrape任务执行",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        240
      ],
      "id": "cacbe1fd-e59e-4a08-bb1c-98d0ab0a4167",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "928cd9ca-fcc4-4e51-a7b9-efa9253894a4",
              "name": "ids",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "83f61c74-70c8-43c8-9fbc-b3b40f9053aa",
              "name": "time",
              "value": "={{ $now.toFormat('yyyy_MM_dd_HH_mm_ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        384
      ],
      "id": "8145f2dd-f4f7-41b9-a11c-d1a453d30eb0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8074/invokeTask",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "0"
            },
            {
              "name": "params",
              "value": "{\"urlList_0\":\"https://www.baidu.com\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        544
      ],
      "name": "HTTP Request2",
      "id": "8505cc69-e69a-405a-9bd5-4ba952069df6"
    },
    {
      "parameters": {
        "command": "=cd /Applications/EasySpider_MacOS\n./easyspider_executestage --ids '[{{ $json }}]' --user_data 0 --server_address http://host.docker.internal:8074 --config_folder \"/Users/nati/Library/Application Support/EasySpider/\" --headless 0 --read_type local --config_file_name config.json --saved_file_name "
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        272,
        848
      ],
      "id": "fa6d6535-9480-4357-8bc2-8d26b2766bf1",
      "name": "Execute a command1",
      "alwaysOutputData": true,
      "credentials": {
        "sshPassword": {
          "id": "E3j7D3Khy2cdeBJJ",
          "name": "SSH Password account nati"
        }
      }
    },
    {
      "parameters": {
        "command": "=bash -lc 'set -euo pipefail\nBIN=\"/Applications/EasySpider_MacOS\"\nCFG=\"/Users/nati/Library/Application Support/EasySpider\"\nIDS=\"{{ $json.ids }}\"                     # 例如 24 或 23,24（下面会包进 []）\nLOG=\"/tmp/es_$(date +%s).log\"\nPATTERN=\"Done!|执行完成|执行完成！\"\nTIMEOUT=1800\nSLEEP=2\n\ncd \"$BIN\"\n\nnohup ./easyspider_executestage \\\n  --ids \"[{{ $json.ids }}]\" \\\n  --user_data 0 \\\n  --server_address \"http://host.docker.internal:8074\" \\\n  --config_folder \"$CFG\" \\\n  --headless 0 \\\n  --keyboard 1 \\\n  --read_type local \\\n  --config_file_name config.json \\\n  --saved_file_name \"{{ $json.time }}\" \\\n  >\"$LOG\" 2>&1 &\n\nPID=$!\nSECONDS=0\nwhile kill -0 \"$PID\" 2>/dev/null; do\n  if grep -E -m1 \"$PATTERN\" \"$LOG\" >/dev/null 2>&1; then\n    echo \"DETECTED_DONE\"\n    # 先温和终止子进程，再终止父进程\n    pgrep -P \"$PID\" | xargs -I{} kill -TERM {} 2>/dev/null || true\n    kill -TERM \"$PID\" 2>/dev/null || true\n    for i in 1 2 3; do sleep 1; kill -0 \"$PID\" 2>/dev/null || break; done\n    pgrep -P \"$PID\" | xargs -I{} kill -KILL {} 2>/dev/null || true\n    kill -KILL \"$PID\" 2>/dev/null || true\n    exit 0\n  fi\n  if [ $SECONDS -ge $TIMEOUT ]; then\n    echo \"TIMEOUT\"\n    pgrep -P \"$PID\" | xargs -I{} kill -TERM {} 2>/dev/null || true\n    kill -TERM \"$PID\" 2>/dev/null || true\n    sleep 2\n    pgrep -P \"$PID\" | xargs -I{} kill -KILL {} 2>/dev/null || true\n    kill -KILL \"$PID\" 2>/dev/null || true\n    exit 124\n  fi\n  sleep \"$SLEEP\"\ndone\n\nexit 0'",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -480,
        1136
      ],
      "id": "8ca727e6-ab5a-4b85-8cce-c3e2f1eee3e1",
      "name": "Execute a command2",
      "executeOnce": false,
      "credentials": {
        "sshPassword": {
          "id": "E3j7D3Khy2cdeBJJ",
          "name": "SSH Password account nati"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd \"/Applications/EasySpider_MacOS\" && ./easyspider_executestage \\\n  --ids \"[{{ $json.ids }}]\" \\\n  --user_data 0 \\\n  --server_address \"http://host.docker.internal:8074\" \\\n  --config_folder \"/Users/nati/Library/Application Support/EasySpider/\" \\\n  --headless 0 \\\n  --keyboard 0 \\\n  --read_type local \\\n  --saved_file_name \"{{ $json.time }}\" \\\n  --config_file_name config.json",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        304
      ],
      "id": "abb37991-56a5-4611-8363-459715aefe7d",
      "name": "执行任务",
      "executeOnce": false,
      "credentials": {
        "sshPassword": {
          "id": "E3j7D3Khy2cdeBJJ",
          "name": "SSH Password account nati"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/Applications/EasySpider_MacOS/Data/Task_{{ $('Edit Fields').item.json.ids }}/{{ $('Edit Fields').item.json.time }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1136,
        336
      ],
      "id": "e091723d-d6a5-4f11-938b-64f373de51ca",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "/Applications/EasySpider_MacOS/Data/Task_29/2025_09_10_09_12_21.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1296,
        -288
      ],
      "id": "fef4d320-72fb-42b7-8fcd-bea78c9210ca",
      "name": "Upload a file",
      "credentials": {
        "sshPassword": {
          "id": "E3j7D3Khy2cdeBJJ",
          "name": "SSH Password account nati"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1344,
        336
      ],
      "id": "0906b97c-f77f-4595-aa4b-265d50c509c8",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-11T03:40:22.000Z",
  "versionId": "b3a1cb50-954d-4678-a57a-5e3377ca0f7b"
}